<script src="//blockr.io/js_external/coinwidget/coin.js"></script>
        <script>
            CoinWidgetCom.go({
                wallet_address: '12Ep9CdebjLQpnQnim1k6cYT3Z8UPkEQxR',
                currency: 'bitcoin',
                counter: 'count',
                lbl_button: 'Donate',
                lbl_count: 'donations',
                lbl_amount: 'BTC',
                lbl_address: 'Use address below to donate. Thanks!',
                qrcode: true,
                alignment: 'bl',
                decimals: 8,
                size: "small",
                color: "dark",
                countdownFrom: "0",
                element: "#coinwidget-bitcoin-12Ep9CdebjLQpnQnim1k6cYT3Z8UPkEQxR",
                onShow: function(){},
                onHide: function(){}
            });
        </script>
        <div id="coinwidget-bitcoin-12Ep9CdebjLQpnQnim1k6cYT3Z8UPkEQxR"></div>