<section>
<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<h1>Goodreads</h1>
<style type="text/css" media="screen">
  .gr_custom_container_1425777029 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000
  }
  .gr_custom_header_1425777029 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_1425777029 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1425777029 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1425777029 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1425777029 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1425777029 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1425777029">
          <div class="gr_custom_container_1425777029">
    <h2 class="gr_custom_header_1425777029">
    <a href="https://www.goodreads.com/review/list/3165514-vera?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Vera's bookshelf: read</a>
    </h2>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1194506057?utm_medium=api&amp;utm_source=custom_widget" title="On the Road"><img alt="On the Road" border="0" src="https://d.gr-assets.com/books/1413588576s/70401.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="2 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_2_of_5.png" title="2 of 5 stars, it was ok" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1194506057?utm_medium=api&amp;utm_source=custom_widget">On the Road</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/1742.Jack_Kerouac">Jack Kerouac</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1135255906?utm_medium=api&amp;utm_source=custom_widget" title="The Call of the Wild"><img alt="The Call of the Wild" border="0" src="https://d.gr-assets.com/books/1412619130s/1852.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1135255906?utm_medium=api&amp;utm_source=custom_widget">The Call of the Wild</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/1240.Jack_London">Jack London</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1131823011?utm_medium=api&amp;utm_source=custom_widget" title="Murder on the Leviathan (Erast Fandorin Mysteries, #3)"><img alt="Murder on the Leviathan" border="0" src="https://d.gr-assets.com/books/1410658503s/64552.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="5 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_5_of_5.png" title="5 of 5 stars, it was amazing" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1131823011?utm_medium=api&amp;utm_source=custom_widget">Murder on the Leviathan</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/34589.Boris_Akunin">Boris Akunin</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1119579656?utm_medium=api&amp;utm_source=custom_widget" title="Roadside Picnic"><img alt="Roadside Picnic" border="0" src="https://d.gr-assets.com/books/1173812259s/331256.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1119579656?utm_medium=api&amp;utm_source=custom_widget">Roadside Picnic</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/1159886.Arkady_Strugatsky">Arkady Strugatsky</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1112654338?utm_medium=api&amp;utm_source=custom_widget" title="The Turkish Gambit (Erast Fandorin Mysteries, #2)"><img alt="The Turkish Gambit" border="0" src="https://d.gr-assets.com/books/1389073713s/97428.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1112654338?utm_medium=api&amp;utm_source=custom_widget">The Turkish Gambit</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/34589.Boris_Akunin">Boris Akunin</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1089110161?utm_medium=api&amp;utm_source=custom_widget" title="The Diary of a Young Girl"><img alt="The Diary of a Young Girl" border="0" src="https://d.gr-assets.com/books/1358276407s/48855.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="5 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_5_of_5.png" title="5 of 5 stars, it was amazing" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1089110161?utm_medium=api&amp;utm_source=custom_widget">The Diary of a Young Girl</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/3720.Anne_Frank">Anne Frank</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
      <div class="gr_custom_each_container_1425777029">
          <div class="gr_custom_book_container_1425777029">
            <a href="https://www.goodreads.com/review/show/1088529875?utm_medium=api&amp;utm_source=custom_widget" title="Fathers and Sons"><img alt="Fathers and Sons" border="0" src="https://d.gr-assets.com/books/1390793535s/19117.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1425777029">
            <img alt="5 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_5_of_5.png" title="5 of 5 stars, it was amazing" />
          </div>
          <div class="gr_custom_title_1425777029">
            <a href="https://www.goodreads.com/review/show/1088529875?utm_medium=api&amp;utm_source=custom_widget">Fathers and Sons</a>
          </div>
          <div class="gr_custom_author_1425777029">
            by <a href="https://www.goodreads.com/author/show/410680.Ivan_Turgenev">Ivan Turgenev</a>
          </div>
          <div class="gr_custom_review_1425777029">
            
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a href="https://www.goodreads.com/"><img alt="goodreads.com" src="https://www.goodreads.com/images/widget/widget_logo.gif" style="border:0" /></a>
  </center>
  <noscript>
    Share <a href="https://www.goodreads.com/">book reviews</a> and ratings with Vera, and even join a <a href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>
      </div>
</section>
<script src="https://www.goodreads.com/review/custom_widget/3165514.Vera's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=7&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1425777029&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>