<section>
  <h1>Stats</h1>
  <a href="https://www.revolvermaps.com/?target=enlarge&amp;i=2m8hggs9gk4"><img
      src="//rc.revolvermaps.com/h/m/a/0/ff007e/128/15/2m8hggs9gk4.png"
      width="256" height="128" alt="Map" style="border:0; background-color: #93c7e0"></a>

  <a href="http://info.flagcounter.com/Nk91"><img src="http://s10.flagcounter.com/count2/Nk91/bg_ffffff/txt_9E9E9E/border_ffffff/columns_2/maxflags_50/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" border="0" alt="Flag Counter"></a>
</section>

