body>header {
  background: url(/images/bg_valles_marineris_huge.jpg) repeat-x bottom left #ff8000;
  padding-bottom: 100px;
}

figure.code {
  figcaption {
    background: lighten($sidebar-bg, 18);
  }
}