body {
  font-family: "Ubuntu",sans-serif;
}

body {
  width: 100% !important;
  margin: auto !important;
}

body>header {
  background: url(/images/header_background.jpg) repeat-x bottom left #66B4DA;
  padding-bottom: 100px;
}

body>header h1, body>header h2 {
  font-family: "Cherry Swash", "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
}

figure.code {
  figcaption {
    background: lighten($sidebar-bg, 18);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cherry Swash", "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
}

* + table {
  border: 1px solid #ddd;
}

* + table th, * + table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

* + table th {
  font-weight: bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #F7F3F7;
}