body {
  width: 100% !important;
  margin: auto !important;
}

body>header {
  background: url(/images/header_background.jpg) repeat-x bottom left #66B4DA;
  padding-bottom: 100px;
}

figure.code {
  figcaption {
    background: lighten($sidebar-bg, 18);
  }
}